@import "tailwindcss";
@theme inline {
	--color-surface1: var(--surface1);
	--color-surface2: var(--surface2);
	--color-surface3: var(--surface3);
	--color-clickable: var(--clickable);
	--color-base: var(--base);
	--color-disabled: var(--disabled);
	--color-outline: var(--outline);
	--color-hover: var(--hover);
	--color-accent: var(--accent);
	--color-error: var(--error);
	--color-error-surface: var(--error-surface);
	--color-heading: var(--heading);

	--font-body-size: 13px;
	--line-height-body: 20px;
}

@layer base {
	[data-theme="light"] {
		--surface1: #ffffff;
		--surface2: #f5f5f5;
		--surface3: #eaeaea;
		--clickable: #007bff;
		--base: #333333;
		--disabled: #b0b0b0;
		--outline: #cccccc;
		--hover: #0056b3;
		--accent: #7b5fcf;
		--error: #d32f2f;
		--error-surface: #f8d7da;
		--heading: #222222;
	}

	[data-theme="dark"] {
		--surface1: #151515;
		--surface2: #252525;
		--surface3: #2f2f2f;
		--clickable: #90e86f;
		--base: #808080;
		--disabled: #4d4d4d;
		--outline: #4d4d4d;
		--hover: #e5fd78;
		--accent: #b08df8;
		--error: #e1cff8;
		--error-surface: #b08df8;
		--heading: #c5c5c5;
	}
}
