@import "tailwindcss";
@theme inline {
	--color-surface-1: var(--surface-1);
	--color-surface-2: var(--surface-2);
	--color-surface-3: var(--surface-3);
	--color-clickable: var(--clickable);
	--color-base: var(--base);
	--color-disabled: var(--disabled);
	--color-outline: var(--outline);
	--color-hover: var(--hover);
	--color-accent: var(--accent);
	--color-error: var(--error);
	--color-error-surface: var(--error-surface);
	--color-heading: var(--heading);

	--font-body-size: 13px;
	--line-height-body: 20px;
}

:root {
	--surface-1: #151515;
	--surface-2: #252525;
	--surface-3: #2f2f2f;
	--clickable: #999999;
	--base: #808080;
	--disabled: #4d4d4d;
	--outline: #4d4d4d;
	--hover: #c5c5c5;
	--accent: #90e86f;
	--heading: #c5c5c5;
}

@layer base {
	[data-theme="light"] {
		--surface-1: #f8f9fb;
		--surface-2: #ebedf0;
		--surface-3: #e4e7eb;
		--clickable: #737373;
		--base: #323232;
		--disabled: #c5c5c5;
		--outline: #cccccc;
		--hover: #1f2933;
		--accent: #2e7692;
		--heading: #222222;
	}

	[data-theme="dark"] {
		--surface-1: #151515;
		--surface-2: #252525;
		--surface-3: #2f2f2f;
		--clickable: #999999;
		--base: #808080;
		--disabled: #4d4d4d;
		--outline: #4d4d4d;
		--hover: #c5c5c5;
		--accent: #90e86f;
		--heading: #c5c5c5;
	}
}
